body {
    margin:0;
}

.zombie {
    width: 200px;
    height: 312px;  
    background: url(../images/walkingdead.png);
    animation:
        walk 0.5s 0s infinite steps(9),
        move 8s 0s 1 linear both;
    transform-origin: center bottom;
    position: absolute;
    bottom: 20px;
    left: 200px;
}

@keyframes walk {
    100% {
        background-position-x: -1800px;
    }
}

@keyframes move {
    0% {
        left: 100%;
    }
    100% {
        left: -200px;
    }
}

.board {
    height:100vh;
    min-height: 800px;
    position: relative;
    overflow: hidden;
    background: rgb(0,0,0);
    background-image: url(../images/board-bg.jpg);
    background-size: cover;
    background-position: center bottom;

}

/* CELOWNIK */
.crosshair {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid rgba(255,255,255,0.7);
    /* swobodna zmiana pozycji */
    position: absolute; 
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    /* ustawiam celownik na pozycji kursowa */
    transform: translate(-50%, -50%);
    /* Wyłącza klikanie na dany element */
    pointer-events: none;
}

.crosshair::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
}


/* PUNKTACJA */
.score {
    position: absolute;
    right: 80px;
    top: 30px;
    font-size: 80px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: white;
    /* Wyłączam zaznaczanie */
    user-select: none;
}
